.list {
    background: #a5ae177a;
    padding: 10px;
    border-radius: 10px;
    height: calc(100vh - 160px);
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}
.list-header {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px 55px;
    padding: 10px 35px 10px 30px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.list-content {
    overflow-y: scroll;
    align-self: center;
    padding-right: 5px;
    height: 80%;
}
.list-content::-webkit-scrollbar{
    width: 3px;
    background: rgb(196, 129, 22);
}
.list-content::-webkit-scrollbar-thumb {
    background: rgb(211, 170, 162);
}
.list-add {
    background: linear-gradient(90deg, rgba(180, 147, 163, 0.486) 0%, rgb(199, 175, 202, 0.486) 100%);
    margin-right: 9px;
    padding: 4px 20px 4px 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.list-btn {
    border-radius: 40%;
    width: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: 900;
    border: none;
    background: none;
    color: rgb(3, 2, 29);
    cursor: pointer;
    margin-left: auto;
}
.list-add select, input {
    outline: none;
    background: none;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 1px 3px;
}
.list-add input {
    flex-grow: 1;
    margin: 0 60px;
}