@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.app {
  background: url(./components/assets/bg.jpg) center center no-repeat;
  background-size: cover;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
